* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-screen {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  height: 120px;
  width: 100%;
  margin: 0;
  background-color: #2d2d2d;
}

.result {
  font-family: "Cascadia Code";
  font-feature-settings: "calt" 1;
  font-size: x-large;
  color: white;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  background-color: #2d2d2d;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.calc-button {
  height: 100px;
  width: 100px;
  background-color: whitesmoke;
  border: none;

  font-family: "Cascadia Code";
  font-feature-settings: "calt" 1;
  font-size: large;
}

.calc-button:last-child {
  background-color: orange;
  border: none;
  color: white;
}

.block-2 {
  width: 50%;
}

.block-3 {
  width: 75%;
}

.calc-button:hover {
  background-color: white;
}

.calc-button:last-child:hover {
  background-color: rgb(247, 196, 103);
}
